.available {
  background: aquamarine;
  cursor: pointer;
}

.available:hover, .available:focus {
  border: purple double;
  user-select: none;
}

.card {
  margin: 4px;
  width: 2em;
  display: inline-block;
  box-sizing: border-box;
  border: white double;
}

.tableau {
  display: flex;
  align-items: center;
  flex-direction: column;

}